#!/usr/bin/env stap

function parse_instrument:string (plannode:long, instr:long) {
    return sprintf("plannode:%p,PLACEHOLDER_PRINTSTRING", plannode, PLACEHOLDER_MEMBER)
}

probe begin {
    if (target() == 0) {
        println("No PID specified.  Use -c or -x.  See man stap for more information.")
        exit()
    }
}

probe process("/usr/local/pgsql/bin/postgres").function("ExecProcNode").call
{
PLACEHOLDER_ADDR
    printdln("|", pid(), "EndInstrument")
    exit()
}

